<footer class="footer">
    <div class="footer__inner">
        <a href="index.html">
            <img class="logo header__logo" src="./img/torg_dom.png" alt="Логотип Покоторг">
        </a>
        <nav class="footer__nav">
            <ul class="footer__nav-list">
                <li class="footer__item">
                    <a href="#" class="footer__link">Каталог</a>
                </li>
                <li class="footer__item footer__item--middle">
                    <a href="#" class="footer__link">О компании</a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__link">Производство</a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__link">Сотрудничество</a>
                </li>
                <li class="footer__item footer__item--middle">
                    <a href="#" class="footer__link">Логистика</a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__link">Контакты</a>
                </li>
            </ul>
        </nav>
        <div class="footer__info">
            <a href="tel:84956497069" class="footer__tel">8 (495) 649-70-69</a>
            <span class="footer__worktime">Пн-Пт 9:00-17:00</span>
            <span class="footer__address">г. Москва, ул. Угрешская, д. 26, стр.3</span>
        </div>
    </div>
</footer>
<script src="../scripts/jquery.min.js"></script>
<script src="../scripts/mask.min.js"></script>
<script src="../scripts/carousel.min.js"></script>
<script src="../scripts/script.js"></script>