<header class="header__wrapper">
    <div class="header__desktop">
        <div class="header">
            <a href="index.html">
                <img class="logo header__logo" src="./img/torg_dom.png" alt="Логотип Покоторг">
            </a>
            <span class="header__caption">Оптовая продажа<br>полуфабрикатов и овощей</span>
            <a class="header__tel-container" href="tel:84956497969">
                <span class="header__tel">8 (495) 649-70-69</span>
            </a>
            <div class="header__container">
                <span class="header__address">г. Москва, ул. Угрешская, д. 26, стр. 3</span>
                <span class="header__work-time">Пн-Пт 9:00-17:00</span>
            </div>
        </div>
        <div class="header__line"></div>
        <nav class="menu">
            <ul class="menu__list">
                <li class="menu__item">
                    <a class="menu__link menu__link--icon" href="#">Каталог</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">О компании</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">Производство</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">Сотрудничество</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">Логистика</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">Контакты</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="header__mobile"></div>
</header>