<section class="query">
    <div class="query__inner">
        <div class="query__container">
            <h3 class="query__title">Оставить заявку</h3>
            <p class="query__text">Наш менеджер свяжется с вами и предоставит всю нужную информацию.</p>
        </div>
        <form class="query__form" action="">
            <input class="query__input" type="text" placeholder="Введите имя" name="name">
            <input class="query__input" type="text" placeholder="+7"name="phone">
            <button class="query__button" type="submit">Отправить</button>
        </form>
    </div>
</section>